<%- include("header") %>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a  href="/work">Work</a>
        <a id="sampad" href="https://sampadadhikary.cyclic.app/" target="_blank">Sampad Adhikary</a>
      </div>

    <div class="box" id="heading">
        <h2><%= kindOfDay %></h2>
    </div>
    
  <div class="box-search">
    <form action="/routing" method="post">
        <input class="search-inp" type="text" name="customList" placeholder="create your custom list">
        <button class="search-btn" type="submit">create</button>
    </form>
  </div>

    <div class="box" >
       <% newListItems.forEach((item)=>{ %> 
            <form action="/delete" method="post" >
                <div class="item">
                    <input type="checkbox" value="<%= item.id %>" name="checkbox" onchange="this.form.submit()">
                    <p> <%= item.name %> </p>
                </div>
                <input type="hidden" name="listName" value="<%= kindOfDay%>">
            </form>
            
        <% }) %>

            <form class="item-form" action="/" method="post">
                <input type="text" name="newItem" placeholder="add new task" autocomplete="off">
                <button type="submit" value="<%= kindOfDay %>" name="button" value = <%= kindOfDay %>>+</button>
            </form>
    </div>

</body>
<%- include("footer") %>
